db
wordpress/wp-admin
wordpress/wp-content/themes/twentytwentyfour
wordpress/wp-content/themes/twentytwentythree
wordpress/wp-content/themes/twentytwentytwo
wordpress/wp-includes
wordpress/wp-config.php